<div class="clearfix">
  <form ng-Submit="post()">
    <input required type="text" class="form-control" id="name" placeholder="Your name" ng-model="newPost.created_by" />
    <textarea required class="form-control" id="message" maxlength="150" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>
    <input class="btn submit-btn pull-right" id="submit-chirp" type="submit" value="Chirp!" />
  </form>
  <div id="post-stream">
    <h4>Chitter Feed</h4>
      <div class="post" ng-repeat="post in posts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
        <p id="post">{{post.text}}</p>
      <small id="posted-by">Posted by @{{post.created_by}}</small>
      <small class="pull-right">{{post.created_at | date:"h:mma 'on' d MMM y"}}</small>
      </div>
  </div>
</div>
